:root {
	--color-bg: var(--color-theme-bg);
	--color-fg: var(--color-theme-fg);

	--color-theme-bg: #f0f8ff;
	--color-theme-fg: #000e1a;

	--border-style: 2px solid hsl(0, 0%, 50%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: inherit;
}

html {
	font-family: NunitoVF;

	background-color: var(--color-bg);
	color: var(--color-fg);
}

button {
	padding: 0.125rem 0.25rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-theme-bg: #000e1a;
		--color-theme-fg: #f0f8ff;
	}
}
